{% include 'website/cabecera.html' %}

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://goo.su/qZJua2a" alt="corazon" />
                <div class="card-body">
                    <h4 class="card-title">Corazon</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary"
                            href="https://media.es.wired.com/photos/650b2a2e72d73ca3bd5ef0cc/16:9/w_2560%2Cc_limit/Business-OpenAI-Dall-E-3-heart.jpg" role="button">Descargar</a>                        
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://goo.su/qZJua2a" alt="corazon" />
                <div class="card-body">
                    <h4 class="card-title">Corazon</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary"
                            href="https://media.es.wired.com/photos/650b2a2e72d73ca3bd5ef0cc/16:9/w_2560%2Cc_limit/Business-OpenAI-Dall-E-3-heart.jpg" role="button">Descargar</a>                        
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://goo.su/qZJua2a" alt="corazon" />
                <div class="card-body">
                    <h4 class="card-title">Corazon</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary"
                            href="https://media.es.wired.com/photos/650b2a2e72d73ca3bd5ef0cc/16:9/w_2560%2Cc_limit/Business-OpenAI-Dall-E-3-heart.jpg" role="button">Descargar</a>                        
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://goo.su/qZJua2a" alt="corazon" />
                <div class="card-body">
                    <h4 class="card-title">Corazon</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary"
                            href="https://media.es.wired.com/photos/650b2a2e72d73ca3bd5ef0cc/16:9/w_2560%2Cc_limit/Business-OpenAI-Dall-E-3-heart.jpg" role="button">Descargar</a>                        
                    </p>
                </div>
            </div>
        </div>
</div>

{% include 'website/pie.html' %}    